/* Centralização do conteudo */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
/* Aplica os estilos dentro deste bloco apenas se a largura da tela for 768 pixels ou maior. */
@media(min-width: 768px){
    .containerBox{
        width: 50%;
    }
    .containerBox input{
        width: 75%;
    }
}

/* Aplica os estilos dentro deste bloco apenas se a largura da tela for 768 pixels ou menor. */
@media(max-width: 768px){
    .title{
        font-size: 18px;
    }
    .containerBox{
        width: 85%;
    }
    .containerBox input{
        width: 100%;
    }
    .modal-body{
        display: flex;
        flex-direction: column;
    }
}