@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.noto-sans {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Aplica os estilos dentro deste bloco apenas se a largura da tela for 768 pixels ou maior. */
.containerBox{
    transition: height 0.5s ease-in-out; /* Transição na altura */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa a altura */
}

@media(min-width: 768px){
    .containerBox{
        width: 50%;
    }
    .containerBox input{
        width: 75%;
    }
}

/* Aplica os estilos dentro deste bloco apenas se a largura da tela for 768 pixels ou menor. */
@media(max-width: 768px){
    .title{
        font-size: 18px;
    }
    .containerBox{
        width: 85%;
    }
    .containerBox input{
        width: 100%;
    }
    .modal-body{
        display: flex;
        flex-direction: column;
    }
}
/* animação qr surgindo */
@keyframes qr {
	0% {
		transform: scaleY(0);
	}

	100% {
        display: block;
		transform: scaleY(1);
	}
}

#imgBox.show {
    animation: qr 2s ease 0s 1 normal forwards;
}